body{
    min-width: 600px;
}

.container{
    width: 100%;
}

.column{
    float: left;
}

.center{
    margin: 0 100px 0;
    background-color: blueviolet;
}
.left{
    width: 100px;
    margin-left: -100%;
    background-color: chocolate;
}
.right{
    width: 100px;
    margin-left: -100px;
    background-color: cyan;
}
footer{
    clear: both;
    background-color: lightblue;
}
header{
    background-color: royalblue;
}

