*{
    margin: 0;
    padding: 0;
}

html,body{
    overflow: hidden;
    font-family: '微软雅黑';
}

#main{
    height: 100vh;
    width: 100vw;
}

.mask{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.mask .selectArea{
    position: absolute;
    width: 450px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #28a745;
    box-shadow: 4px 4px 6px #000000;
}

.mask .selectArea .describe{
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f8fa;
    border-bottom: 1px solid #dddddd;
}

.mask .selectArea .describe .close{
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}
.mask .selectArea .describe .close:hover{
    color: #269f42;
}

.mask .selectArea .wrapper{
    width: 100%;
    max-height: 70vh;
    overflow: auto;
    border-bottom: 2px solid #dddddd;
}

.mask .selectArea .wrapper .imgBox{
    width: calc(100% - 40px);
    margin: 20px;
    position: relative;
    font-size: 0;
}
.mask .selectArea .wrapper .imgBox .box{
    position: absolute;
    cursor: move;
    box-shadow: 5px 5px 10px white inset,
                -5px -5px 10px white inset;
}

.mask .selectArea .wrapper .imgBox .box div{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: gray;
}
.mask .selectArea .wrapper .imgBox .box .left-top{
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}
.mask .selectArea .wrapper .imgBox .box .right-top{
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}
.mask .selectArea .wrapper .imgBox .box .left-btm{
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}
.mask .selectArea .wrapper .imgBox .box .right-btm{
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

.mask .selectArea .wrapper .imgBox img{
    width: 100%;
    height: auto;
}

.mask .selectArea .btnWrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.mask .selectArea .btnWrapper .submitBtn{
    color: white;
    border: none;
    outline: none;
    width: 100%;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
}
.mask .selectArea .btnWrapper .submitBtn:hover{
    border: blue;
    background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
}


.header{
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 60px 0px 0px 60%;
}

.header .wrapper{
    width: 200px;
}
.header .wrapper .describe{
    font-size: 16px;
    padding-bottom: 10px;
}
.header .wrapper .imgWrapper{
    width: 100%;
    position: relative;
}
.header .wrapper .imgWrapper .replace-btn{
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
}
.header .wrapper .imgWrapper .replace-btn .edit{
    display: block;
    padding: 0px 10px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
}
.header .wrapper .imgWrapper .replace-btn .options{
    position: absolute;
    top: 33px;
    left: -15px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 6px;
    box-shadow: 2px 2px 10px gray;
    font-size: 13px;
    width: 110px;
    padding: 6px;
    display: none;
}
.header .wrapper .imgWrapper .replace-btn .options .arrow{
    position: absolute;
    display: block;
    top: -6px;
    left: 25%;
    height: 10px;
    width: 10px;
    transform: translateX(-50%) rotate(45deg);
    background-color: white;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

.header .wrapper .imgWrapper .replace-btn .options label:hover{
    cursor: pointer;
}

.header .wrapper .imgWrapper img{
    width: 100%;
    border-radius: 6px;
    border: 1.5px solid #269f42;
    box-sizing: border-box;
    cursor: pointer;
}