*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html,body{
    overflow-x: hidden;
    background: url('./img/pomegranates.jpg');
    background-repeat: repeat-y;
    background-size: 100vw auto;
}

.wrapper{
    width: 400px;
    height: 100vh;
    padding: 0px 40px 0px 30px;
    padding-top: 100px;
    box-shadow: -1px -1px 6px #424242;
    position: fixed;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper h1.title{
    margin-top: 160px;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}

.wrapper div.ipt-banner{
    width: 100%;
    padding: 20px 0px 16px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
}

div.ipt-banner textarea{
    height: 120px;
    width: 100%;
    padding: 6px 0px 6px 6px;
    font-size: 18px;
}

div.ipt-banner button{
    width: 100px;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
    background: green;
    color: white;
    outline: none;
    border: 1px solid #424242;
    margin-top: 16px;
    border-radius: 18px;
}
div.ipt-banner button:hover{
    box-shadow: inset 0px 0px 16px #424242;
}

/* ----------------------- 留言区 --------------------------> */

#main ul.msg_list{
    width: 50%;
    padding: 10px;
    margin-left: 160px;
    margin-top: 20px;
}
#main ul.msg_list li{
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 6px 0px 6px 10px;
    background: rgba(216, 216, 216, 0.5);
    margin-bottom: 10px;
}
#main ul.msg_list li span.removePoint {
    float: right;
    color: red;
    font-size: 30px;
    line-height: 20px;
    font-weight: 700;
    cursor: pointer;
    padding-right: 20px;
}