* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 800px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
.wrapper .box{
    position: relative;
}

.settings .progress-bar{
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 5px;
}
.settings .progress-bar .bar{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.wrapper .box .settings{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px 10px 10px 10px;
}

.wrapper #cvs {
    position: absolute;
}

